<div class="gallery-fix"></div>         <!-- Fix Gallery next/prev error on Android -->
<div class="sidebar-tap-close"></div>   <!-- Overlay for content to close Sidebar -->

<div id="page-content">
    <div id="page-content-scroll"><!--Enables this element to be scrolled -->        
        <div class="header-clear"></div>

        <div class="content-fullscreen">
            <div class="profile-header">
                <img class="profile-cover responsive-image preload-image" data-original="images/pictures/1.jpg" alt="img">
                <a class="profile-picture show-gallery" href="images/pictures/8.jpg" title="Profile Image">
                    <img data-original="images/pictures/8.jpg" class="preload-image" alt="img">
                     
                </a>
                <a class="p-i show-share-bottom" href="#"><i class="fa fa-edit fa-2x"></i></a>
               
                <div class="clear"></div>
            </div>
        </div>
        <div class="content">
            <div class="profile-content full-bottom">
                <div class="container no-bottom">
                    <div class="sidebar-left-small">
                        <form name="editProfForm" novalidate>
                            <h3 class="no-bottom">{{hari.username}}<i class="fa fa-edit padding" ng-click="editName = true"></i><input ng-if="editName" type=text placeholder="your full name" ng-model="hari.newName" required><span></span></h3> 
                            <p class="half-bottom">{{hari.profission}}<i class="fa fa-edit padding" ng-click="editOcup = true" ></i> <input ng-if="editOcup" type=text placeholder="your profission" ng-model="hari.newOcupation" required><span class=" bg-light show-share-bottom"></span></p>
                            <ul class="font-icon-list no-bottom">
                                <li><a href=""><i class="fa fa-phone"></i>{{hari.phone}} <i class="fa fa-edit padding" ng-click="editPhone = true"></i></a><input ng-if="editPhone" type=text placeholder="your phone number" ng-model="hari.newPhone" required><span class=" bg-light show-share-bottom"></span></li>
                                <li><a href=""><i class="fa fa-envelope"></i>{{hari.email}}<i class="fa fa-edit padding" ng-click="editEmail = true"></i></a><input ng-if="editEmail" type=text placeholder="yourEmail@email.com"ng-model="hari.newEmail" required><span class=" bg-light show-share-bottom"></span></li>
                                <li><a href=""><i class="fa fa-location-arrow"></i>{{hari.address}}<i class="fa fa-edit padding" ng-click="editAdress = true"></i></a><input ng-if="editAdress" type=text placeholder="your Adress" ng-model="hari.newAddress" required><span class=" bg-light show-share-bottom"></span></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>  
            <div class="decoration"></div>
            <div ng-if="toast" class="toast">Profile updated with sucssess</div>
            <button class="button button-energized" ng-click="editProfForm.$valid && hari.editProfile(); toast=true">Save</button>
        </div>
        
        
 
