<ion-content>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-markers models="marker" coords="'self'" icon="'icon'" click="onClick()" events="marker.events" >
             <ui-gmap-windows options="windowOptions" closeClick="closeClick()">
                <div><h1>{{title}}</h1>
                    <img class="img-small-circle" src="images/pictures/0.jpg">
                </div>
             </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
</ion-content>

  