 <ion-view has-header="true">
    <ion-content ng-controller="mainController" class="has-header padding">
         <a href="#">
            <img class="preload-image" data-original="images/pictures/1t.jpg" alt="img">
            <strong>Something new</strong>
            <em>Android released it’s latest operating system, and it’s gorgeous. Powerful than ever and with more features!</em>
            <u><i class="fa fa-clock-o"></i> Posted on January 5th 2021 <i class="fa fa-user"></i> by Enabled</u>
         </a>                
         <a href="#">
            <img class="preload-image" data-original="images/pictures/6t.jpg" alt="img">
            <strong>Instant loading mobile pages!</strong>
            <em>We’re debating what the best device has been this year, what do you say? What was your best mobile device?</em>
            <u><i class="fa fa-clock-o"></i> Posted on December 5th 2021 <i class="fa fa-user"></i> by Enabled</u>
         </a>
      
      <div class="decoration"></div>
      <a href="#" class="load-more-thumbs button button-fullscreen button-green full-bottom">Load More</a>
      <a href="#/music">{{hari.resultado}}</a>
    </ion-content>
</ion-view>

