 <ion-side-menus>
        <ion-side-menu-content>
            <ion-nav-bar class="bar-dark nav-title-slide-ios7">
              <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
        </ion-side-menu-content>
        
        <ion-side-menu side="left">
           <header class="bar bar-in bar-header bar-dark">
             <img class="img-circle border-effect padding" ng-src="{{hari.image}}" alt="">
           </header>
           <ion-content class="has-header-menu">
             <ion-list>
               <ion-item menu-close="" href="#/hare/profile">
                <i class="ion-android-person"></i> Profile <i class="fa fa-circle"></i>
               </ion-item>
               <ion-item menu-close="" href="#/hare/notify">
                 <i class=""></i> Notifications
               </ion-item>
               <ion-item menu-close="" href="#/hare/browse">
                <i class="ion-compose"></i> Edit Profile
               </ion-item>
               <ion-item menu-close="" href="#/hare/index">
                <i class=""></i> Activity Feed
               </ion-item>
               <ion-item menu-close="" href="#/hare/calendar">
                <i class=""></i> Calendar <i class="fa fa-calendar"></i>
               </ion-item>
               <ion-item menu-close="" href="#/hare/playlists">
                <i class=""></i> Location
               </ion-item>
               <ion-item menu-close="" href="#/hare/playlists">
                <i class=""></i> Messages
               </ion-item>
               <ion-item menu-close="" href="#/hare/playlists">
                <i class=""></i> Payment Options
               </ion-item>
               <ion-item menu-close="" href="#/hare/playlists">
                <i class=""></i> Settings
               </ion-item>
               <ion-item menu-close="" href="#/hare/playlists">
                <i class=""></i> About
               </ion-item>
               <ion-item menu-close="" href="#/hare/playlists">
                <i class=""></i> Logout
               </ion-item>
             </ion-list>
           </ion-content>
        </ion-side-menu>
</ion-side-menus>  