/* css for side-menu */
.bar-dark{
    height: 40pt;
    background-color: #1c1d1e !important;
}

.bar-in{
    height: 100pt;
}

.has-header-menu{
    margin-top: 66pt;
}
.has-header{
  margin-top: 30pt;
  padding-top: 10pt;
}

.custom {
  background-color: #1c1d1e !important; /* This sets the background color*/
 }
 
/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  font-size: 13px;
  line-height: 40px;
  padding-left: 10px;
  font-weight: 400;
  color: rgba(255,255,255,.7);
  border-bottom: solid 1px rgba(0,0,0,.2);
  border-top: solid 1px rgba(255,255,255,.05);
  
}
 
.custom .item i{
  padding-right: 7pt;
} 

.fa-circle {
    opacity: .4;
    font-size: 6px;
    position: absolute;
    right: 25px;
    top: 23pt;
}
/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}
 
.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

.menuName{
  position: absolute;
  margin-top: 50pt;
  margin-left: 7%;
  color: rgba(255,255,255,.7);
}

/* finish of side-menu css*/


/* put page content in right position */

#page-content{
  margin-top: -40pt;
}

/* login page */
.pageapp-login{
  margin-left: -100pt;
  margin-top: 70pt;
  width: 100%;
  height: 100%
}

/*edit profile page*/
.toast{
  padding: 10pt;
  margin-bottom: 5pt;
  width: 200pt;
  text-align: center;
  color: #2E8B57;
  background-color: rgba(144,238,144, 0.5);
}

/* menu in profile page*/   
.actmenu{
  background-color: #0dc8a9;
  padding-left: 10pt;
  padding-top:5pt;
  margin-top: -15pt;
  margin-left: -15pt;
}
.actmenumenu{
  padding-right: 11pt;
  padding-bottom: 10pt;
}
.actactmenu{
  padding-right: 10pt;
  padding-bottom: 10pt;
}
.menuTitle{
  text-align: center;
}
.menuImg{
  width: 80pt;
  height: 80pt;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.menuDesc{
   margin-left: 90pt;
   margin-top: -78pt;
   width: 140pt;
   height: auto;
}
.menuPrice{
  position: relative;
  margin-left: 90pt;
}
.menuRecipe{
  margin-top: 10pt;
  margin-left: 90pt;
  width: 140pt;
}
.botaoTO{
  margin-top: 15pt;
  right: -30pt;
}
.menuQnt{
 position: absolute;
}
.add-qty{
  position: absolute;
  margin-top: -80pt;
}
.substract-qty{
  position: absolute;
  margin-top: -80pt;
  margin-left: 60pt;
}
.qtin{
 position: absolute;  
 margin-left: 30pt;
 margin-top: -85pt;
}
.likeshare{
position: absolute;
left: 100pt;
top: 250pt;
}
.menudoLCS{
  margin-top: 30pt;
  width: 100%;
  left: 30pt;
}
.menudoLCS span{
  padding: 10pt 10pt 10pt 5pt;
  background-color: rgba(0,0,0,0.1)
}

/* display conversations */
.chatmsg{
  position: absolute;
  margin-left: 50pt;
  margin-top: -25pt;
}
/* maps standart*/
.angular-google-map-container { height: 400pt; }